@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #88a0c1, #00040c);
  color: #fff;
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 1000;
  background: linear-gradient(180deg,rgb(1, 17, 46),rgb(94, 108, 144));
}

header nav a {
  color: #fff;
  margin-left: 25px;
  text-decoration: none;
}

.logo {
  font-weight: 700;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 42px;
}

.hero-text span {
  color: #010830;
}

.typing {
  margin-top: 10px;
  font-size: 20px;
  color: #010a40;
  height: 28px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 32px;
  background: #e5e9ee;
  color: #262424;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}


.photo-ring {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(45deg, #262114, #8a95f3);
}

.photo-ring img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #111;
}


section {
  padding: 120px 80px;
  color: #011c51;
}

.glass {
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  margin: 40px;
  padding: 40px;
  color: #011c51;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill {
  padding: 10px 22px;
  background: rgba(255,255,255,0.2);
  border-radius: 25px;
  transition: 0.3s;
  color: #012772;
}

.skill:hover {
  transform: scale(1.1);
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  color: black;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  transition: 0.4s;
}
.card a {
  text-decoration: none;
}

.card :hover{
  /* transform: translateY(-10px); */
  color: rgb(18, 18, 20);
}

/* Scroll animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */
footer {
  text-align: center;
  padding: 25px;
  opacity: 0.8;
}
#contact a {
text-decoration: none;
color: #00040c;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }
}



